* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
}

.mainPage {
    width: 100%;
    background-color: aqua;
    height: 100vh

}

.mainContainer {
    display: flex;
    margin: 0 auto;
    width: 85%;
    height: 100%;
    background-color: red;
    align-items: center;
}

.sqaresContainer    {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    background-color: blue;
    justify-content: center;
    
}

.sqare {
    display: flex;
    border: 2px solid black;
    background-color: burlywood;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.circleStyle {
    width: 150px;
    object-fit: cover
}

.hidden {
    display: none;
}